.select {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .select {
    width: 100%;
    font-size: 0.95rem;
    padding: 0.5rem 0.5rem;
  }
}
